#div_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-width: 400px;
    margin: 0 auto;
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
    border: 9px solid #e9e9e9;
  }
  
  .textbox {
    width: 94%;
    padding: 10px;
    margin: 5px 0;
    font-family: cursive;
    border-radius: 35px;
  }
  
  #register {
    width: 100%;
    background-color: darkgray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
    font-size: 16px;
  }
  
  #register:hover {
    background-color: gray;
  }
  
  a#loginLink {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    width: 95%;
    background-color: darkgray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20.6em;
    font-family: cursive;
  }
  
  a#loginLink:hover {
    background-color: gray;
  }
  

h1 {}